@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans&family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

:root {
	--main-color-default: #5c5b5b;
	--main-color: #fbf8f8;
	--color-dark: #171515;
	--color-success: #05c318;
	--color-danger: #c50000;
	--color-warning: #efd400;
	--color-disable: #a3a3a3;
	--button-hover: #797979;
}

/* Site Configuration */
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: var(--color-success);
}
.custom-navbar {
    background-color: #14496a; /* azul escuro */
}
.img-fluid {
    width: 700px;
    float: left; /* Faz a imagem flutuar à esquerda do contêiner de login */
    margin-right: 0px; /* Espaço entre a imagem e o contêiner de login */
    margin-top: 100; /* Ajuste para garantir que a imagem esteja alinhada no topo */
}
.titulo-customizado {
    font-family:'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.subtitulo-customizado {
    font-family:'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.recipe-footer a {
    background: var(--color-primary-dark);
    display: block;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: 1.5rem var(--spacing-gutter-medium);
    transition: all 300ms ease-in-out;
  }
  .recipe-footer a:hover {
    filter: brightness(2);
  }
  .main-content-detail  .recipe-list-item {
    max-width: 84rem;
    margin: 0 auto;
  }
  .main-content-detail .recipe-list-item:hover {
    transform: scale(1);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .preparation-steps {
    padding: var(--spacing-gutter-medium);
  }
  
  .main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary-dark);
    color: var(--color-white);
    padding: var(--spacing-gutter-large);
  }
  .main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
  }
  .main-footer a:hover {
    filter: brightness(0.8);
  }